@{
    ViewData["Title"] = "Ошибочное выполнение";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="row justify-content-center">
        <h1>Подпись XML файла не валидна!</h1>
    </div>
    <div class="row justify-content-start">
    </div>
</body>
</html>
