@{ ViewData["Title"] = "Составление заявки";}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="row justify-content-center">
        <h1>Всё супер, заявка оформлена!</h1>
    </div>
    <div class="row justify-content-start">
        <a class="nav-link text-dark row justify-content-center" asp-area="" asp-controller="Purchase" asp-action="Index">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </a>
    </div>
</body>
</html>
